* { margin: 0px; padding: 0px; }
body {
	font-size: 120%;
	background: #F8F8FF;
}
.header {
	width: 80%;
	margin: 10px auto 0px;
	color: white;
	background: #5F9EA0;
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}
.content {
	width: 80%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #B0C4DE;
	background: white;
	border-radius: 0px 0px 10px 10px;
}
.paddingbot {
	padding-bottom: 30px;
}
.paddingtop {
	padding-top: 30px;
}
.formhold {
	width: 100%;
	margin: 0px auto;
}
#form {
	width: 100%;
	display: block;
	position: relative;
	margin: 20px auto;
}

#form div {
	width: 70%;
	height: auto;
	display: inline-block;
	position: relative;
	margin: 0 auto;
	float: left;
}
#form div:first-child {
	padding-top: 50px;
}

#form div label {
	float: left;
	padding: 20px 10px 0 0;
	color: black;
}

#form div input {
	float: left;
	display: block;
	margin: 10px 0;
	height: 30px;
	width: 100%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
	float: left;
}

#form div select {
	float: left;
	display: block;
	margin: 10px 0;
	height: 45px;
	width: 103%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
	float: left;
}

#form div ul li { color: red;
	list-style-type: none; }

.logininput {
	float: left;
	display: block;
	margin: 10px 0;
	height: 30px;
	width: 80%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
	float: left;
}

#user_type {
	height: 42px;
	width: 52%;
	padding: 5px 10px;
	background: white;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
.btn {
	margin: 0;
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #5F9EA0;
	border: none;
	border-radius: 5px;
	text-decoration: none;
	text-align: center;
}
.btn:hover {
	background: #58FA58;
	color: #5F9EA0;	
}
.logout-btn {
	padding: 10px;
	font-size: 15px;
	color: red;
	background: #5F9EA0;
	border: none;
	border-radius: 5px;
	text-decoration: none;
}
.logout-btn:hover {
		background: #0A2A29;
}
.error {
	width: 92%; 
	margin: 5px 5px; 
	padding: 10px; 
	border: 1px solid #a94442; 
	color: #a94442; 
	background: #f2dede; 
	border-radius: 5px; 
	text-align: left;
	float: left;
}
.tasks {
	background: #F3F781;
	border-bottom: 1px solid green;
}
.tasks:last-child {
	border-bottom: none;
}
.tasksadm {
	background: #F3F781;
}
.users {
	background: #A9BCF5;
}
.success {
	width: 48%;
	color: #3c763d; 
	background: #dff0d8; 
	border: 1px solid #3c763d;
	margin-bottom: 20px;
}

.profile_info {
	display: flex; 
	flex-direction: row;
	justify-content: space-between;
	margin: 5px;
	align-content: flex-start;
}
.adminTask {
	display: block;
	position: relative;
	width: 47%;
	margin-left: 5px;
	padding:5px;
}
.del-btn {
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #FF0000;
	border: none;
	border-radius: 5px;
	text-decoration: none;
	margin: 2px 2px;
}
.edit-btn {
	background: green;
}
.floatR {
	position: relative;
	display: block;
	float: right;
}
.clearfloat {
	clear: both;
}
.logo {
	width: 120px;
	height:100px;
}
.infoblock {
	float: right;
	width: 80%;
}
